.container-home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .container-welcome {
    margin-top: 5rem;

    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
