.content {
  .process {
    margin-top: 25px;

    .process-title-container {
      border-bottom: 1.5px solid #d4e2ed;

      span {
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
        color: $secondaryColor;
      }
    }

    .process-container-input {
      margin-top: 12px;
    }

    .check-input-container {
      margin-top: 16px;
    }
  }
}
